<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coding.pixel.ca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/start_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WebLinks.AppInfoActivity"></activity>
        <activity android:name=".WebLinks.WebTermsConditionsActivity" />
        <activity android:name=".WebLinks.WebContactUsActivity" />
        <activity android:name=".WebLinks.WebFaqActivity" />
        <activity
            android:name=".Helping.HelpingActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity android:name=".Comments.BlogCommentsActivity" />
        <activity android:name=".PostsActivities.BlogPostActivity" />
        <activity
            android:name=".Dashboard.SettingActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Chats.ChatActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Dashboard.RatingActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Friends.FriendsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Search.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".ForgotPassword.ForgotPassActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Home.MainActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".ProfileSetting.StatusUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".ProfileSetting.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".LoginReg.FBLoginActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".LoginReg.LoginActivity" />
        <activity
            android:name=".ForgotPswrd.ForgotPasswordActivity"
            android:parentActivityName=".LoginReg.LoginActivity" />
        <activity
            android:name=".LoginReg.RegisterActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".LoginReg.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Startup.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs.AboutAppActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Startup.IntroActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- Cropping image library -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>